POSTGRES_PASSWORD=""
# Like postgresql://postgres:<PASSWORD>@<HOST-NAME>:5432/heimdall?schema=public
DATABASE_URL=""

# Google Auth
SESSION_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_SECRET=""
CALLBACK_URL="http://localhost:5000"

# Redis ENV vars
# Like redis://<REDIS_USERNAME>:<REDIS_PW>@<HOST_NAME>:6379
REDIS_URL=""

# API Env Vars
API_URL="http://api:5000"
API_PORT="5000"

# Sync server env vars
SYNC_URL="http://sync_server:3002"
SYNC_PORT="3002"

# Frontend env vars
FRONTEND_URL="http://localhost:3000"